[submodule "pelican-themes/clean-blog"]
	path = pelican-themes/clean-blog
	url = git@github.com:bdunlay/clean-blog.git
[submodule "bdunlay.github.io"]
	path = bdunlay.github.io
	url = git@github.com:bdunlay/bdunlay.github.io
